:root {
    --red-rgb: 248 113 113;
    --blue-rgb: 56 189 248;
    --green-rgb: 74 222 128;
    --yellow-rgb: 253 224 71;
    
    --background-rgb: #0f0f0f;
  }
  
  body,html {
    height: 100%;
    width: 100%;
    background: var(--background-rgb);
   overflow-x: hidden; 
   scroll-behavior: smooth;
   
  }
  ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 #ffd074;
    border-radius: 0;
}
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  @font-face {
    font-family: "ginto";
    src: url("ginto.otf") format("opentype");
  }
  @font-face {
    font-family: "Ggsans";
    src: url("gg sans Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "normal";
    src: url("normal.ttf") format("truetype");
  }


  #main{
    /*   background: pink; */
      width: 100vw;
      height: 100vh;
      color: #fff;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      /* position: absolute; */
    }

    .cryptoWatcher{
        position: absolute;
        top: 0;
        background:linear-gradient(180deg, rgb(0 0 0 / 55%) 6%, rgb(0 0 0 / 25%) 70%, rgba(0, 212, 255, 0) 100%);
           z-index: 999999;
    }

    #main .max-width{
        width: 87.5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .heading-container{
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .heading-container p{
      font-family: 'normal';
        /* font-family: Ggsans, sans-serif; */
        color: rgba(255, 255, 255, 0.75);
        height: 5vh;
        display: flex;
        align-items: center;
        margin: 0;
        width: min-content;
        white-space: nowrap;
        margin-bottom: .025%;
    }

    .heading-container p span#lol{
      margin: 0;
      margin-left: 1.25%;
      padding: 1rem;
      border-color: rgb(50 50 40 / 1);
      border-width: 1px;
      border-radius: 9999px;
      border-style: solid;
      font-size: 1.25rem;
      line-height: 1.75rem;
      background-color: #0e100f;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .heading-container p span#lol #money,  .heading-container p span#lol #whoami{
      /* text-decoration: underline  rgba(255, 255, 255, 0.75); */
    } 

    span#description{
      color: rgba(255, 255, 255, 0.75);

    }

    .heading-container p img{
      height: 100%;
    }

    .heading-container h2{
        font-family: 'normal';
        font-size: 16px;
        width: 50%;
    }


    #money{
        color: #4EBB19;

    }

    #whoami{
        color: #FC1FCB;
    
    }

    .heading-container *{
        /* overlay: hidden; */
        z-index: 999999;
    }

    .image-container{
      position: relative;
      width: 35%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .image-container *{
      top: 25%;
        position:absolute;
      z-index: 999999;
      width: 100%;
  }

  .image-container img{
    animation-name: floating2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    cursor: pointer;
    transition: all 1s ease;
    transform: scale(100%);
  }

  .image-container img:hover{
    
    
    animation-name: floating2;
  }

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}  


@keyframes floating2 {
  0% { transform: scale(100%); }
  50% { transform: scale(105%); }
  100% { transform: scale(100%); }
   
}
@keyframes spin {
  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
   
}
    .heading-container h1{
        font-family: 'ginto';
        font-size: 44px;  
         width: max-content;
        /* white-space: nowrap; */
    }

    .buttons{
        padding-left: .375rem;
        padding-right: .375rem;
        padding: .25rem;
        border-color: rgb(50 50 40 / 1);
        border-width: 1px;
        border-radius: 9999px;
        border-style: solid;
        gap: .5rem;
        display: flex;
        width: max-content;
        align-items: flex-end;
        height: 48px;
        background-color: #0e100f;
        margin-top: 10px;
    }

    .buttons a{  
          background-color: hsla(0, 0%, 64%, .4);
        color: #000;
        width: 40px;
        border-radius: 9999px;
        aspect-ratio: 1/1;     display: flex;
        justify-content: center;
        align-items: center;
        /* display: flex; */
        border: 0 solid #e5e7eb;
        transition: all 0.3s ease;
        cursor: pointer;


    }

    .buttons a:hover {
      /* position: absolute; */
        width: 50px;
        transform: translateY(-10px);
    }

    .button-container{
      position: absolute;
      margin-left: auto;
      /* margin-right: auto; */
      /* margin-top: auto; */
      /* left: 0; */
      /* right: 0; */
      /* bottom: 5%; */
      text-align: center;
      width: min-content;
      white-space: nowrap;
      z-index: 9999;
      
    }
    /* viewmore */
    .button-container a{
      position: relative;
      font-family: 'Ggsans';
      font-style: normal;
      cursor: pointer;
      font-size: 1.5rem;
      line-height: 2rem;
      color: rgb(255 255 227 / 1);
      font-weight: 400;
      padding: .75rem 2rem;
      border-color: rgb(50 50 40 / 1);
      border-width: 1px;
      border-radius: 3em;
      border-style: solid;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0e100f;
      overflow: hidden;
      
    }

    .button-container .circle{
      background-color: #FC1FCB;
      width: 125%;
      height: 10rem;
      position: absolute;
      top: 125%;
      transition: all 0.5s;
      border-radius: 50%;
    }

    .button-container a span{
      z-index: 2;
    }
    .button-container a:hover .circle {
      width: 150%;
      top: -25%;
    }
    

    .buttons a svg{
        width: 2.5rem;
        height: 2.5rem;
        padding: 12.5%;
        vertical-align: middle;
        border-radius: 9999px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255 255 227 / 1);
    }

    #tile-container{
        z-index: 0;
        position: absolute;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        overflow: hidden;
        perspective: 2000px;filter: brightness(50%);
    }
  
  #container {
    width: 140rem;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: repeat(40, 1fr);
    grid-template-columns: repeat(40, 1fr);
    transform: rotateX(50deg) rotateY(-5deg) rotateZ(20deg) scale(1.25);
    left: -27.5%;
    /* top: -5%; */
    position: absolute;
  }
  
  #container:after,
  #container:before {
    content: "";
    position: absolute;
    inset: 0px;
    pointer-events: none;
  }
  
  #container:before {
    z-index: 2;
    background-image: url("https://assets.codepen.io/1468070/plus-pattern-center.png");
    background-size: 5%;
    background-repeat: repeat;
    opacity: 0.25;
  }
  
  #container:after {
    z-index: 3;
    background: radial-gradient(circle, transparent 25%, rgb(var(--background-rgb)) 80%);
  }
  
  .tile {  
    border: 1px solid rgb(255 255 255 / 25%);
    transition: background-color 1500ms;
    cursor: help;
  }
  
  .tile:hover {
    transition-duration: 0ms;
  }
  
  .tile:nth-child(4n):hover {
    background-color: rgb(var(--red-rgb));
  }
  
  .tile:nth-child(4n + 1):hover {
    background-color: rgb(var(--blue-rgb));
  }
  
  .tile:nth-child(4n + 2):hover {
    background-color: rgb(var(--green-rgb));
  }
  
  .tile:nth-child(4n + 3):hover {
    background-color: rgb(var(--yellow-rgb));
  }
  
  .tile:nth-child(7n):hover {
    background-color: rgb(var(--blue-rgb));
  }
  
  .tile:nth-child(7n + 3):hover {
    background-color: rgb(var(--green-rgb));
  }
  
  .tile:nth-child(7n + 5):hover {
    background-color: rgb(var(--yellow-rgb));
  }
  
  .tile:nth-child(7n + 6):hover {
    background-color: rgb(var(--red-rgb));
  }
  
  .tile:nth-child(11n + 1):hover {
    background-color: rgb(var(--red-rgb));
  }
  
  .tile:nth-child(11n + 4):hover {
    background-color: rgb(var(--blue-rgb));
  }
  
  .tile:nth-child(11n + 7):hover {
    background-color: rgb(var(--green-rgb));
  }
  
  .tile:nth-child(11n + 10):hover {
    background-color: rgb(var(--yellow-rgb));
  }


  #moreinfo{
    width: 100vw;
    background-color: #0e100f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 7.5%;
    position: relative;
  }

  :root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
  }
  

  #moreinfo .max-width{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #moreinfo  footer{
    width: 100%;
  }

  footer {
    color: #fff;
    font-family: 'normal';
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 2vh;
    text-decoration: underline;
  }

  #moreinfo h1{
    font-family: 'ginto';
    font-size: 44px;  
     width: min-content;
    white-space: nowrap;
    color: #fff;
  }
  
  #cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;  
    width: 100%;
    min-height: 20rem;
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    width:  28rem;
    flex-direction: column;
    position: relative;
    aspect-ratio: 1.15/1;

  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }
  
  /* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
  
  .card h1, h2, h3, h4, span {
    color: rgb(240, 240, 240);
    font-family: 'normal';
    font-weight: 400;
    margin: 0px;
  }
  
  .card i {  
    color: rgb(240, 240, 240);
  }
  
  .card-image {
    align-items: flex-end;
    display: flex;
    height: 140px;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    padding: 0px 20px;
  }
  
  .card-image > svg {
    width: 3rem;
  }
  
  .card-info-wrapper {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    padding: 0px 20px;
    height: 25%;
  }
  
  .card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
  }
  
  .card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
  }
  
  .card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
  }
  
  .card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
  }
  

  
  @media screen and (max-width: 1250px){

   #main .max-width{
      width: 90%;
      flex-direction: column;
      justify-content: flex-start;
    }
    #moreinfo h1{
      width: 100%;
      white-space: wrap;
    }

    .heading-container{
      width: 100%;
      height: 50vh;
    }
    .image-container{    display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .image-container{
      height: 40vh;
      width: 100%;
    }

    .image-container img{
      height: 100%;
      top: 0;
      width: min-content;
    }

    .heading-container h2{
      width: 75%;
    }
  }

  
  @media screen and (max-width: 1080px){

    .heading-container h2{
      width: 100%;
    }
    .image-container{
      height: 30vh;
      width: 100%;
    }
    
    .heading-container h1{
      white-space: wrap;
      width: 100%;
    }

   
    #main .max-width{
      justify-content: flex-start;
    }

  
  }


  
  @media screen and (max-width: 630px){

    #main .max-width{
      justify-content: flex-start;
    }

    .image-container{
      height: 30vh;
    }

    .heading-container{
      margin-top: 10%;
    }}


    @media screen and (max-width: 444px){
      .heading-container{
        margin-top: 15%;
      }
      .image-container{
        display: none;
      }
    }

      
    @media screen and (max-width: 365px){
      .heading-container{
        margin-top: 20%;
      }
  
    }